<nav>
    <a routerLink="services">Services + Routing</a>
    <a routerLink="customDirectives">Custom Directives</a>
    <a routerLink="pipes">Pipes</a>
    <a routerLink="structuralDirectives">Structural Directives</a>
    <a routerLink="componentsInteraction">Components Interaction</a>
    <a routerLink="bindings">Bindings</a>
    <a routerLink="lifeCycle">Life Cycle Hooks</a>
</nav>



<!--
<app-employee></app-employee>
<app-component-custom-directive></app-component-custom-directive>
<app-pipes-component></app-pipes-component>
<app-structural-directives></app-structural-directives>
<app-child-one></app-child-one>
<app-bindings></app-bindings>
-->