<nav>
    <a [style.color]="fontColor" routerLink="services">Services + Routing</a>
    <a [style.color]="fontColor" routerLink="customDirectives">Custom Directives</a>
    <a [style.color]="fontColor" routerLink="pipes">Pipes</a>
    <a [style.color]="fontColor" routerLink="structuralDirectives">Structural Directives</a>
    <a [style.color]="fontColor" routerLink="componentsInteraction">Components Interaction</a>
    <a [style.color]="fontColor" routerLink="bindings">Bindings</a>
    <a [style.color]="fontColor" routerLink="localStorage">Local Storage</a>
    <a [style.color]="fontColor" routerLink="lifeCycle">Life Cycle Hooks</a>
    <a [style.color]="fontColor" routerLink="login">Login</a>
    <a [style.color]="fontColor" routerLink="crud">CRUD Ops + Guards</a>
    <a [style.color]="fontColor" routerLink="log">Logs by Interceptor</a>
    <a [style.color]="fontColor" routerLink="tdf">Template Driven Forms</a>
    <a [style.color]="fontColor" routerLink="reactiveForms">Reactive Forms</a>
    <a [style.color]="fontColor" routerLink="ngrx">NgRx - State Manager</a>
</nav>



<!--
<app-employee></app-employee>
<app-component-custom-directive></app-component-custom-directive>
<app-pipes-component></app-pipes-component>
<app-structural-directives></app-structural-directives>
<app-child-one></app-child-one>
<app-bindings></app-bindings>
-->