a{
    padding: 5px 8px;
    margin: 6px;
    background-color: antiquewhite;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}