<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h4>Welcome to Angular World!</h4>
    <app-navsfor-routing></app-navsfor-routing>
</div>


<router-outlet></router-outlet>


<br> <hr>

<!--


<app-employee></app-employee>
<app-component-custom-directive></app-component-custom-directive>
<app-pipes-component></app-pipes-component>
<app-structural-directives></app-structural-directives>
<app-child-one></app-child-one>
<app-bindings></app-bindings>


-->