<div class="main-app">
    <div class="left-main-app">
        <h3>Welcome To My Angular World!</h3>
        <app-navsfor-routing></app-navsfor-routing>
    </div>
    <div class="right-main-app">
        <router-outlet></router-outlet>
    </div>
</div>
<!--


<app-employee></app-employee>
<app-component-custom-directive></app-component-custom-directive>
<app-pipes-component></app-pipes-component>
<app-structural-directives></app-structural-directives>
<app-child-one></app-child-one>
<app-bindings></app-bindings>


-->