<hr>
<h3 style="color: rgb(0, 86, 57); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Pipes</h3> <br>


<p style="color: rgb(119, 105, 88); ">-------Builtin Pipes-------</p>

<p>name in lowercase: {{pName | lowercase }}</p>

<p>display object: {{pObj | json}}</p>

<p>currency as : {{pAmount | currency: 'INR'}}</p>


<p style="color: rgb(119, 105, 88); ">-------Custom Pipes-------</p>

<p>Size of the array is:- {{ pNumbers | getSize}}</p>

<p>Show values in array which are between 3 & 21:- 
    <span *ngFor="let n of (pNumbers |  multiplyEach : 3 : 21); let i as index">{{n}} </span>

</p>
